.wrapper{
    margin: 5px auto;
    width: 1000px; 
    height: 650px;
    background-color:black;
    border: 3px solid red;
  
}

table{
    float: left;
    border-collapse: collapse;
    border-right: 3px solid red;

}

td{ 
    border: none;
    border-collapse: collapse;
    padding:0;
    margin: 0;
}

.player-wrapper{    
    float: right;
    color: white;
    font-size: 2em;
    text-align: center;
    width: 30%;
    margin-top: 21%;
    margin-right: 17px;
  
}
#score{
    font-size: 64px;
    font-weight: bold;
    color: red
}


